<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Report</title>
    <style>
        *,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-image, .right-image {
    flex: 1;
    text-align: center;
}

.center-content {
    flex: 2;
    text-align: center;
}

.bordered-table {
    border-collapse: collapse;
}

.bordered-table td {
    border: 1px solid red;
}


.only-bordered-row td {
    border: 1px solid black;
    text-align: center;
}



.row-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}


    </style>
</head>
<body>
    <div id="content" style="max-width: 1200px;margin: auto;padding: 16px;border: 1px solid #eee;font-size: 16px;line-height: 24px;font-family: 'Inter', sans-serif;color: #555;background-color: #F9FAFC;">
        <table style="font-size: 12px; line-height: 20px;">
            <thead>
                <tr>
                    <td style="padding: 0 16px 18px 16px;">
                        <div style="text-align: center;">
                        <h2>
                           Receipt/Invoice/Delivery Challan Copy </h2>
                           <h1 style="color: #1A1C21;font-size: 38PX;font-style: normal;font-weight: 800;line-height: normal;text-align: center;">
THE LAPTOP SERVICE CENTER </h1>
                            <h2 style="font-style: italic;">
                               
                                <h3 style="font-weight: lighter;">
                                    1st Floor, 357/3/a/475, Basanta Niketan, Bidhan Road, Siliguri, Darjeeling, 734001 </h3>

                                </div>
                                    <div class="container">
                                        <div class="left-image">
                                            <img src="/images/logo.png" alt="Left Logo" style="width: 100px;">
                                        </div>
                                        <div class="right-image">
                                            <h3 style="font-weight: lighter;">Call Centre Tel: 8967727967 <br/>ROC NO.: 199005825C</h3>
                                        </div>
                                        
                                    </div>
                                    
            

                      
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <table style="background-color:transparent; padding: 20px 16px;width: 100%; border-radius: 12px;font-size: 12px; line-height: 20px; table-layout: fixed;">
                            <tbody>
                                <tr>
                                    <td style="vertical-align: top; width: 30%; padding-right: 20px;padding-bottom: 35px;">
                                        <p style="font-weight: 700; color: #1A1C21;">Case Details</p>
                                        <p style="color: #5E6470;">Service Type : <%=result[0].type%></p>
                                        <p style="color: #5E6470;">Service Created Date : <%=result[0].created_at%></p>

                                       

                                    </td>

                                    <td style="vertical-align: top; width: 30%; padding-right: 20px;padding-bottom: 35px;">
                                        <p style="color: #5E6470;">TSS Order No. : <%=result[0].tss_order_no%></p>
                                        <p style="color: #5E6470;">Delivery Date : <%= new Date().getFullYear() %>-<%= (new Date().getMonth() + 1).toString().padStart(2, '0') %>-<%= new Date().getDate().toString().padStart(2, '0') %></p>                                    </p>
                                        <p style="color: #5E6470;">Advance Payment : Rs. <%=result[0].advance%> </p>
                                        <p style="color: #5E6470;">Service Charge : Rs. <%=result[0].service_charge%> </p>


                                    </td>


                                
                                  
                                </tr>



                                <tr>
                                    <td style="vertical-align: top; width: 30%; padding-right: 20px;padding-bottom: 35px;">
                                        <p style="font-weight: 700; color: #1A1C21;">Customer Info</p>
                                        <p style="color: #5E6470;">Name : <%=result[0].name%></p>
                                        <p style="color: #5E6470;">Site Address : <%=result[0].address%></p>

                                       

                                    </td>

                                    <td style="vertical-align: top; width: 30%; padding-right: 20px;padding-bottom: 15px;">
                                        <p style="color: #5E6470;">Tel : </p>
                                        <p style="color: #5E6470;">Mobile  : <%=result[0].number%></p>
                                        <p style="color: #5E6470;">Contact No. : <%=result[0].alternate_number%></p>
                                        <p style="color: #5E6470;">Email : <%=result[0].email%></p>
                                        <p style="color: #5E6470;">Product Description : <%=result[0].system_type%></p>


                                    </td>


                                
                                  
                                </tr>



                                <tr>
                                    <td style="vertical-align: top; width: 30%; padding-right: 20px;padding-bottom: 35px;">
                                        <p style="font-weight: 700; color: #1A1C21;">Product Details</p>
                                        <p style="color: #5E6470;">Model : <%=result[0].model%></p>

                                       

                                    </td>

                                    <td style="vertical-align: top; width: 30%; padding-right: 20px;padding-bottom: 35px;">
                                        <p style="color: #5E6470;">.</p>
                                        <p style="color: #5E6470;">Serial No. : <%=result[0].sn%> </p>

                                      


                                    </td>


                                
                                  
                                </tr>



                                <tr>
                                    <td style="vertical-align: top; width: 30%; padding-right: 20px;padding-bottom: 15px;">
                                        <p style="font-weight: 700; color: #1A1C21;">Problem Description</p>
                                        <p style="color: #5E6470;"> <%=result[0].issue%></p>

                                       

                                    </td>
                                  
                                </tr>



                                <tr>
                                    <td style="vertical-align: top; width: 30%; padding-right: 20px;padding-bottom: 5px;">
                                        <p style="font-weight: 700; color: #1A1C21;">Diagnosis Repair Details</p>

                                    </td>
                                  
                                </tr>




                             


                               




                             
                              
                            </tbody>
                        </table>

                        

                            <p style="font-weight: 700; color: #1A1C21;margin-top: 20px;">Spare Parts Replaced :</p>



                            <table class="bordered-table" style="background-color:transparent; padding: 20px 16px;width: 100%; border-radius: 12px;font-size: 12px; line-height: 20px; table-layout: fixed;">

                    
                            </tr>


                    <!-- <table class="bordered-table" style="max-width: 800px;"> -->
                        <tr class="only-bordered-row">
                            <td>Part Number </td>
                            <td>Part Description </td>
                            <td>Serial No.</td>
                            <td>Price</td>
                            <td>Qnty</td>

                        </tr>




                      
                        </table>




                        <table style="margin-top:60px;background-color:transparent; padding: 20px 16px;width: 100%; border-radius: 12px;font-size: 12px; line-height: 20px; table-layout: fixed;">

                            <tr>
                                <td colspan="3">
                                    <table style="width: 100%;border-spacing: 0;">
                                    
                                       
                                        <tfoot>
                                            <tr>
                                                <td style="padding: 12px 0; border-top:1px solid #D7DAE0;"></td>
                                                <td style="border-top:1px solid #D7DAE0;" colspan="3">
                                                    <table style="width: 100%;border-spacing: 0;">
                                                      
                                                        <tfoot>
                                                            <tr>
                                                                <th style="padding: 12px 0 30px 0;text-align: start; color: #1A1C21;border-top:1px solid #D7DAE0;">
                                                                    Total Price</th>
                                                                <th style="padding: 12px 0 30px 0;text-align: end; color: #1A1C21;border-top:1px solid #D7DAE0;">
                                                                    <span style="margin-right: 100px;">Rs.</span>    </th>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </td>
                                            </tr>
                                           
                                        </tfoot>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
           
        </table>


        <p style="font-weight: 700; color: #1A1C21;margin-top: 20px;">Terms & Conditions :</p>

        <br/><p>1) This receipt should be produced at the time of collecting the equipment.</p>
        <br/><p>2) Our estimated charges are only approximate based on initial inspection carried out. If during the process of repairs, additional spares are found necessary, they will be charged extra. No fresh approval will be taken for such additional spares used up to 20% in excess of the estimated amount.</p>
       <br/> <br/><p>3) Acceptance of the equipment and completion of the job are subject to the availability of spares. If the equipment cannot be repaired due to non-availability of parts, the repair will not proceed.</p>
        <br/><p>4) This equipment has been accepted for service subject to internal verification. Should we find the equipment has been tampered with, misused, or components removed, the equipment will be returned without repairs, and the customer will be informed within a reasonable time.</p>
        <br/><p>5) Accessories are accepted under the owner's risk, and the company is not responsible for any accessories not recorded in the receipt.</p>
        <br/><p>6) No warranty is extended for serviced equipment beyond 90 days, and the warranty is only for the replaced parts. (Applicable only for out-of-warranty services)</p>
        <br/><p>7) The equipment should be collected from us within 15 days from the date of intimation.</p>
        <br/><p>8) Once the current hardware/defective parts are replaced/fixed, defective parts are to be returned to TSS.</p>
        <br/><p>9) The company assumes no responsibility whatsoever if the equipment is not collected within 28 days from the date of intimation.</p>



    


        <div class="row-container" style="margin-top: 40px;">
            <p class="left">Sign of Customer</p>
            <p class="right">Sign of Customer for closer</p>
            <p class="right">Sign of ASC Customer Service Agent</p>

        </div>
        
    </div>


<style>
     .button-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        /* Styling the button */
        .download-button {
            background-color: #4CAF50; /* Green */
            color: white;
            border: none;
            padding: 12px 24px;
            font-size: 16px;
            font-family: 'Inter', sans-serif;
            cursor: pointer;
            border-radius: 8px;
            transition: background-color 0.3s ease;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        /* Hover effect */
        .download-button:hover {
            background-color: #45a049;
        }
</style>

<div class="button-container">
    <button class="download-button" onclick="downloadPDF()">Download PDF</button>
</div>

</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

<script>

window.onload = function() {

const preloadImage = (url) => {
            return new Promise((resolve, reject) => {
                const img = new Image();
                console.log(img)
                img.src = url;
                img.onload = () => resolve(url);
                img.onerror = reject;
            });
        };

        async function downloadPDF() {
            // URL of the right logo

            try {
                // Preload the right logo image

                // Set the preloaded image source to the img element

                // Convert the content to PDF after image is loaded
                const element = document.getElementById('content');
                html2pdf()
                    .from(element)
                    .set({
                        filename: 'service_report.pdf',
                        image: { type: 'jpeg', quality: 1},
                        html2canvas: { scale: 2 },
                        jsPDF: { unit: 'in', format: 'A4', orientation: 'portrait' }
                    })
                    .save();
            } catch (error) {
                console.error("Image preload failed:", error);
                alert("Failed to load the logo image.");
            }
        }
        window.downloadPDF = downloadPDF;
    };
    </script>

</html>