<%- include ('./header.ejs') %>

<div class="content-inner container-fluid pb-0" id="page_layout">
 

  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="card card-block card-stretch card-height">
        <div class="card-body">
          <div class="mb-2 d-flex justify-content-between align-items-center">
            <span class="text-dark">Warranty Calls</span>
            
          </div>
          <h2 class="counter"><%= result[0][0].warranty_calls %></h2>
          <small>Calls made under warranty.</small>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card card-block card-stretch card-height">
        <div class="card-body">
          <div class="mb-2 d-flex justify-content-between align-items-center">
            <span class="text-dark">AMC Calls</span>
            
          </div>
          <h2 class="counter"><%= result[1][0].amc_calls %></h2>
          <small>Calls made under AMC.</small>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card card-block card-stretch card-height">
        <div class="card-body">
          <div class="mb-2 d-flex justify-content-between align-items-center">
            <span class="text-dark">CC Calls</span>
            
          </div>
          <h2 class="counter"><%= result[2][0].cc_calls %></h2>
          <small>Carry In Calls.</small>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card card-block card-stretch card-height">
        <div class="card-body">
          <div class="mb-2 d-flex justify-content-between align-items-center">
            <span class="text-dark">Engineer Onsite Calls</span>
            
          </div>
          <h2 class="counter"><%= result[3][0].engineer_onsite_calls %></h2>
          <small>Engineer onsite calls.</small>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="card card-block card-stretch card-height">
        <div class="card-body">
          <div class="mb-2 d-flex justify-content-between align-items-center">
            <span class="text-dark">Parts Calls</span>
            
          </div>
          <h2 class="counter"><%= result[4][0].parts_call %></h2>
          <small>Parts replacement requests.</small>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card card-block card-stretch card-height">
        <div class="card-body">
          <div class="mb-2 d-flex justify-content-between align-items-center">
            <span class="text-dark">Pending TA</span>
            
          </div>
          <h2 class="counter"><%= result[5][0].pending_ta %></h2>
          <small>Pending Technical Assistance.</small>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card card-block card-stretch card-height">
        <div class="card-body">
          <div class="mb-2 d-flex justify-content-between align-items-center">
            <span class="text-dark">Disapproved Calls</span>
            
          </div>
          <h2 class="counter"><%= result[6][0].disapprove_calls %></h2>
          <small>Disapproved calls.</small>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card card-block card-stretch card-height">
        <div class="card-body">
          <div class="mb-2 d-flex justify-content-between align-items-center">
            <span class="text-dark">Pending Cashout Calls</span>
            
          </div>
          <h2 class="counter"><%= result[7][0].pending_cashout %></h2>
          <small>Pending Cashout calls.</small>
        </div>
      </div>
    </div>
  </div>


  <p>District Wise Warranty Calls</p>
  <div class="row">

    <% for(i=0;i<result[8].length;i++) { %>
    <div class="col-lg-3 col-md-6">
      <div class="card card-block card-stretch card-height">
        <div class="card-body">
          <div class="mb-2 d-flex justify-content-between align-items-center">
            <span class="text-dark"><%=result[8][i].district%></span>
            
          </div>
          <h2 class="counter"><%= result[8][i].count %></h2>
        </div>
      </div>
    </div>
   <% } %>
  </div>




  <p>District Wise AMC Calls</p>
  <div class="row">

    <% for(i=0;i<result[9].length;i++) { %>
    <div class="col-lg-3 col-md-6">
      <div class="card card-block card-stretch card-height">
        <div class="card-body">
          <div class="mb-2 d-flex justify-content-between align-items-center">
            <span class="text-dark"><%=result[9][i].district%></span>
            
          </div>
          <h2 class="counter"><%= result[9][i].count %></h2>
        </div>
      </div>
    </div>
   <% } %>
  </div>
</div>

<!-- Footer Section Start -->
<%- include ('./footer.ejs') %>
