<%- include('./header1.ejs') %>

<!-- Nav Header Component Start -->
<div class="iq-navbar-header" style="height: 115px;">
    <div class="container-fluid iq-container">
        <div class="row">
            <div class="col-md-12">
                <div class="flex-wrap d-flex justify-content-between align-items-center">
                    <!-- Optional content here -->
                </div>
            </div>
        </div>
    </div>
    <div class="iq-header-img">
        <img src="/assets/images/dashboard/top-header.png" alt="header" class="theme-color-default-img img-fluid w-100 h-100 animated-scaleX" loading="lazy">
        <img src="/assets/images/dashboard/top-header1.png" alt="header" class="theme-color-purple-img img-fluid w-100 h-100 animated-scaleX" loading="lazy">
        <img src="/assets/images/dashboard/top-header2.png" alt="header" class="theme-color-blue-img img-fluid w-100 h-100 animated-scaleX" loading="lazy">
        <img src="/assets/images/dashboard/top-header3.png" alt="header" class="theme-color-green-img img-fluid w-100 h-100 animated-scaleX" loading="lazy">
        <img src="/assets/images/dashboard/top-header4.png" alt="header" class="theme-color-yellow-img img-fluid w-100 h-100 animated-scaleX" loading="lazy">
        <img src="/assets/images/dashboard/top-header5.png" alt="header" class="theme-color-pink-img img-fluid w-100 h-100 animated-scaleX" loading="lazy">
    </div>
</div>
<!-- Nav Header Component End -->

<div class="content-inner container-fluid pb-0" id="page_layout">
    <div>
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title"><%=pageHeader%></h4>
                            <p style="margin-top: 20px;color: green;font-weight: bold;"><%=msg%></p>

                        </div>
                    </div>
                    <div class="card-body">
                        <div class="new-user-info">
                            <form method="post" action="/admin/dashboard/update/<%=type%>">
                                <div class="row">
                                    <% columns.forEach(column => { %>
                                        <div class="form-group col-md-6">
                                            <label class="form-label" for="<%= column %>"><%= column.charAt(0).toUpperCase() + column.slice(1) %>:</label>
                                            <input 
                                                type="text" 
                                                class="form-control" 
                                                id="<%= column %>" 
                                                name="<%= column %>" 
                                                value="<%= data[column] %>" 
                                                <%= column === 'id' ? 'readonly' : 'required' %> 
                                                placeholder="<%= column.charAt(0).toUpperCase() + column.slice(1) %>"
                                            >
                                        </div>
                                    <% }) %>
                                    
                                </div>
                                <hr>
                                <button type="submit" class="btn btn-primary">Update</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer Section Start -->
<%- include('./footer.ejs') %>
