<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Report</title>
    <style>
        *,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}




    </style>
</head>
<body>
    <div id="content" style="max-width: 800px;margin: auto;padding: 16px;border: 1px solid #eee;font-size: 16px;line-height: 24px;font-family: 'Inter', sans-serif;color: #555;background-color: #F9FAFC;">
        <table style="font-size: 12px; line-height: 20px;">
            <thead>
                <tr>
                    <td style="padding: 0 16px 18px 16px;">
                        <h1 style="color: #1A1C21;font-size: 28PX;font-style: normal;font-weight: 800;line-height: normal;text-align: center;border: 2px solid black;border-radius: 50%;">
                           Service Report </h1>
                           <h1 style="color: #1A1C21;font-size: 42PX;font-style: normal;font-weight: 800;line-height: normal;text-align: center;">
                            TOTAL SYSTEM SOLUTION </h1>
                            <h4 style="color: #1A1C21;font-weight:lighter;font-size: 32PX;line-height: normal;text-align: center;font-style: italic;">
                                <%=result[0][0].brand.toUpperCase()%> AUTHORIZED SERVICE PROVIDER </h4>
                                <p style="color: #1A1C21;line-height: normal;text-align: center;font-size: 18px;">
                                    1st Floor, 357/3/a/475, Basanta Niketan, Opposite Kanchenjunga Stadium Gate No. 2, Ward No. 11, Siliguri, Darjeeling, 734001 </p>


                                    <div style="display: flex; align-items: center; justify-content: center;">
                                        <!-- Left Logo -->
                                        <img src="/images/logo.png" alt="Left Logo" style="margin-right: 10px;width: 100px;position: relative;left:0px;">
                                    
                                        <!-- Centered Content -->
                                        <div style="text-align: center;">
                                            <p style="color: #1A1C21; line-height: normal; font-size: 18px; margin: 0;">
                                                Call Centre Tel: 8967727967
                                            </p>
                                            <p style="color: #1A1C21; line-height: normal; font-size: 18px; margin: 0;">
                                                ROC NO.: 199005825C
                                            </p>
                                        </div>
                                    
                                        <!-- Right Logo -->
                                        <img src="https://logo.clearbit.com/<%=result[0][0].brand%>.com" id="right-logo" alt="Right Logo" style="width: 100px; position: relative;left:10px;">
                                    </div>

            

                      
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <table style="background-color: #FFF; padding: 20px 16px; border: 1px solid #D7DAE0;width: 100%; border-radius: 12px;font-size: 12px; line-height: 20px; table-layout: fixed;">
                            <tbody>
                                <tr>
                                    <td style="vertical-align: top; width: 30%; padding-right: 20px;padding-bottom: 35px;">
                                        <p style="font-weight: 700; color: #1A1C21;">Case Details</p>
                                        <p style="color: #5E6470;">Service Type : <%=result[0][0].type%></p>
                                        <p style="color: #5E6470;">Case ID : <%=result[0][0].brand_order_no%></p>
                                        <p style="color: #5E6470;">Service Created Date : <%=result[0][0].created_at%></p>
                                       

                                    </td>


                                    <td style="vertical-align: top; width: 30%; padding-right: 20px;padding-bottom: 35px;">
                                        <p style="font-weight: 700; color: #1A1C21;">Customer Info</p>
                                        <p style="color: #5E6470;">Name : <%=result[0][0].name%></p>
                                        <p style="color: #5E6470;">Company Name : <%=result[0][0].company_name%></p>
                                        <p style="color: #5E6470;">Site Address : <%=result[0][0].address%></p>
                                        <p style="color: #5E6470;">Mobile : <%=result[0][0].number%></p>
                                        <p style="color: #5E6470;">Contact No : <%=result[0][0].alternate_number%></p>
                                        <p style="color: #5E6470;">Email : <%=result[0][0].email%></p>
                                        <p style="color: #5E6470;">Product Description : <%=result[0][0].system_type%></p>





                                       

                                    </td>





                                    <td style="vertical-align: top; width: 30%; padding-right: 20px;padding-bottom: 35px;">
                                        <p style="font-weight: 700; color: #1A1C21;">Product Details</p>
                                        <p style="color: #5E6470;">Model : <%=result[0][0].model%></p>
                                        <p style="color: #5E6470;">Serial No. : <%=result[0][0].sn%></p>
                                    </td>


                                
                                  
                                </tr>
                                <tr>
                                    <td style="padding-bottom: 13px;">
                                        <p style="color: #5E6470;">Problem Description </p>
                                        <p style="font-weight: 700; color: #1A1C21;"><%=result[0][0].issue%></p>
                                    </td>
                                    <td style="text-align: center; padding-bottom: 13px;">
                                        <p style="color: #5E6470;">Engineer Name</p>
                                        <p style="font-weight: 700; color: #1A1C21;"><%=result[0][0].assign_engineer%></p>
                                    </td>
                                    <td style="text-align: end; padding-bottom: 13px;">
                                        <p style="color: #5E6470;">Issue Resolve Date</p>
                                        <p style="font-weight: 700; color: #1A1C21;"><%=result[0][0].updated_at%></p>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td colspan="3">
                                        <table style="width: 100%;border-spacing: 0;">
                                            <thead>
                                                <tr style="text-transform: uppercase;">
                                                    <td style="padding: 8px 0; border-block:1px solid #D7DAE0;">Item Detail</td>
                                                    <td style="padding: 8px 0; border-block:1px solid #D7DAE0; width: 40px;">Qty
                                                    </td>
                                                    <td style="padding: 8px 0; border-block:1px solid #D7DAE0; text-align: end; width: 100px;">
                                                        Rate</td>
                                                    <td style="padding: 8px 0; border-block:1px solid #D7DAE0; text-align: end; width: 120px;">
                                                        Amount</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td style="padding-block: 12px;">
                                                        <p style="font-weight: 700; color: #1A1C21;">Drops</p>
                                                        <p style="color: #5E6470;">On-demand delivery</p>
                                                    </td>
                                                    <td style="padding-block: 12px;">
                                                        <p style="font-weight: 700; color: #1A1C21;">1</p>
                                                    </td>
                                                    <td style="padding-block: 12px; text-align: end;">
                                                        <p style="font-weight: 700; color: #1A1C21;">£5.00</p>
                                                    </td>
                                                    <td style="padding-block: 12px; text-align: end;">
                                                        <p style="font-weight: 700; color: #1A1C21;">£5.00</p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td style="padding-block: 12px;">
                                                        <p style="font-weight: 700; color: #1A1C21;">Hours</p>
                                                        <p style="color: #5E6470;">Shift delivery service</p>
                                                    </td>
                                                    <td style="padding-block: 12px;">
                                                        <p style="font-weight: 700; color: #1A1C21;">0</p>
                                                    </td>
                                                    <td style="padding-block: 12px; text-align: end;">
                                                        <p style="font-weight: 700; color: #1A1C21;">£0.00</p>
                                                    </td>
                                                    <td style="padding-block: 12px; text-align: end;">
                                                        <p style="font-weight: 700; color: #1A1C21;">£0.00</p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td style="padding: 12px 0; border-top:1px solid #D7DAE0;"></td>
                                                    <td style="border-top:1px solid #D7DAE0;" colspan="3">
                                                        <table style="width: 100%;border-spacing: 0;">
                                                            <tbody>
                                                                <tr>
                                                                    <th style="padding-top: 12px;text-align: start; color: #1A1C21;">
                                                                        Subtotal</th>
                                                                    <td style="padding-top: 12px;text-align: end; color: #1A1C21;">
                                                                        £5.00</td>
                                                                </tr>
                                                                <tr>
                                                                    <th style="padding: 12px 0;text-align: start; color: #1A1C21;">
                                                                        VAT in items (0%) (1)</th>
                                                                    <td style="padding: 12px 0;text-align: end; color: #1A1C21;">
                                                                        £5.00</td>
                                                                </tr>
                                                            </tbody>
                                                            <tfoot>
                                                                <tr>
                                                                    <th style="padding: 12px 0 30px 0;text-align: start; color: #1A1C21;border-top:1px solid #D7DAE0;">
                                                                        Total Price (2)</th>
                                                                    <th style="padding: 12px 0 30px 0;text-align: end; color: #1A1C21;border-top:1px solid #D7DAE0;">
                                                                        £5.00</th>
                                                                </tr>
                                                            </tfoot>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <p style="color: #1A1C21;">(1) VAT non applicable</p>
                                                        <p style="color: #1A1C21;">(2) Price includes the remuneration for
                                                            MealShift Services</p>
                                                    </td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </td>
                                </tr> -->
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
           
        </table>


        <% if(result[1][0]) { %>
           
        <% result[1].forEach(report => { %>
            
            <% if(result[1][0].serviceReport){ %>

            <div class="report-section">
              <h3>Service Report</h3>
              <div class="thumbnail-container">
                <% report.serviceReport.split(',').forEach(photo => { %>
                    <img src="/images/<%= photo.trim() %>" alt="Service Part" onclick="openModal(this.src)">
                  <% }) %>
              </div>
            </div>

            <% } %>


            <% if(result[1][0].defectivePartsPhoto){ %>

        
            <div class="report-section">
              <h3>Defective Parts Photos</h3>
              <div class="thumbnail-container">
                <% report.defectivePartsPhoto.split(',').forEach(photo => { %>
                  <img src="/images/<%= photo.trim() %>" alt="Defective Part" onclick="openModal(this.src)">
                <% }) %>
              </div>
            </div>

            <% } %>


            <% if(result[1][0].goodPartsPhoto){ %>

        
            <div class="report-section">
              <h3>Good Parts Photo</h3>
              <div class="thumbnail-container">
                <% report.goodPartsPhoto.split(',').forEach(photo => { %>
                    <img src="/images/<%= photo.trim() %>" alt="Good Parts" onclick="openModal(this.src)">
                  <% }) %>
              </div>
            </div>
            <% } %>
          <% }) %>
        


          <h3>Parts MEMO Report</h3>
          <p><%=result[1][0].partsMemoReport%></p>

          <h3>Diagnostic MEMO Report</h3>
          <p><%=result[1][0].diagnosticReport%></p>


          
          <h3>Good Parts Name</h3>
          <p><%=result[1][0].goodPartsName%></p>


          <h3>Defective Parts Name</h3>
          <p><%=result[1][0].defectivePartsName%></p>
        </div>
    </div>


    <% } %>
  
      <!-- Modal for Image Zoom -->
      <div class="zoom-modal" id="zoomModal">
        <span class="close-modal" onclick="closeModal()">&times;</span>
        <img id="zoomedImage" src="" alt="Zoomed Image">
      </div>


<style>
     .button-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        /* Styling the button */
        .download-button {
            background-color: #4CAF50; /* Green */
            color: white;
            border: none;
            padding: 12px 24px;
            font-size: 16px;
            font-family: 'Inter', sans-serif;
            cursor: pointer;
            border-radius: 8px;
            transition: background-color 0.3s ease;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        /* Hover effect */
        .download-button:hover {
            background-color: #45a049;
        }
</style>


<style>
   
    .report-container {
      max-width: 600px;
      border: 1px solid #ddd;
      padding: 20px;
      border-radius: 8px;
      background-color: #f9f9f9;
    }
    .report-header {
      font-size: 1.5em;
      margin-bottom: 20px;
      text-align: center;
    }
    .report-section {
      margin-bottom: 20px;
    }
    .report-section h3 {
      margin-bottom: 10px;
      color: #333;
    }
    .thumbnail-container {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    .thumbnail-container img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      cursor: pointer;
      transition: transform 0.3s ease;
    }
    .thumbnail-container img:hover {
      transform: scale(1.2);
    }
    .zoom-modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      justify-content: center;
      align-items: center;
      z-index: 1000;
    }
    .zoom-modal img {
      max-width: 90%;
      max-height: 90%;
    }
    .close-modal {
      position: absolute;
      top: 20px;
      right: 20px;
      color: #fff;
      font-size: 1.5em;
      cursor: pointer;
    }
  </style>

<div class="button-container">
    <button class="download-button" onclick="downloadPDF()">Download PDF</button>
</div>

</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>

<script>


function openModal(src) {
    document.getElementById('zoomedImage').src = src;
    document.getElementById('zoomModal').style.display = 'flex';
  }

  // Function to close the zoom modal
  function closeModal() {
    document.getElementById('zoomModal').style.display = 'none';
  }

window.onload = function() {

const preloadImage = (url) => {
            return new Promise((resolve, reject) => {
                const img = new Image();
                console.log(img)
                img.src = url;
                img.onload = () => resolve(url);
                img.onerror = reject;
            });
        };

        async function downloadPDF() {
            // URL of the right logo
            const rightLogoUrl = 'https://logo.clearbit.com/acer.com';

            try {
                // Preload the right logo image
                const loadedLogoUrl = await preloadImage(rightLogoUrl);

                // Set the preloaded image source to the img element
                document.getElementById('right-logo').src = loadedLogoUrl;

                // Convert the content to PDF after image is loaded
                const element = document.getElementById('content');
                html2pdf()
                    .from(element)
                    .set({
                        margin: 1,
                        filename: 'service_report.pdf',
                        image: { type: 'jpeg', quality: 0.98 },
                        html2canvas: { scale: 2 },
                        jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' }
                    })
                    .save();
            } catch (error) {
                console.error("Image preload failed:", error);
                alert("Failed to load the logo image.");
            }
        }
        window.downloadPDF = downloadPDF;
    };
    </script>

</html>